# GCP Project Configuration
project_id        = "your-project-id"
project_name      = "your-project-name"
region            = "us-central1"
zone             = "us-central1-a"

# Network Configuration
subnet_cidr            = "10.0.0.0/24"
pod_cidr              = "10.1.0.0/16"
service_cidr          = "10.2.0.0/16"
master_ipv4_cidr_block = "172.16.0.0/28"
# Note: authorized_ip is no longer used as the cluster is private

# GKE Configuration
machine_type = "e2-micro"
min_node_count = 1
max_node_count = 2
initial_node_count = 1

# Security and Monitoring Configuration
deploy_network_policies = false  # Set to true to enable network policies
enable_monitoring = true        # Set to false to disable monitoring for cost savings
